@font-face {
    font-family: 'roboto';
    src: url('fonts/Roboto-Regular.ttf') format('ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('fonts/Roboto-Bold.ttf') format('ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'roboto';
    src: url('fonts/Roboto-Light.ttf') format('ttf');
    font-weight: lighter;
}

* {
    margin: 0%;
    color: white;
    font-family:  roboto;
    font-size: 20px;
}

::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

body {
    display: flex;
    justify-content: center;
    height: 100vh; /* Set the height of the body-div */

    background: rgb(38,40,41);
}

.container {
    width: 750px;
    padding: 20px;
    padding-top: 170px;
}

.section {
    margin-bottom: 20px;
    width: 100%;
}

#pfp img{
    border-radius: 100%;
    width: 170px;
}

#pfp {
    margin-bottom: 50px;
}

#header {
    margin-bottom: 100px;
}

#header h1{
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 10px;
}

#header p {
    font-size: 22px;
    font-weight: lighter;
    line-height:32px;
}

#contact {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#extra {
    text-align: center;
    height: 100px;
}

img {
    width: 80px;
    transition: .2s ease;
    transform-origin: center;
}

img:hover {
    transform: scale(1.1); /* 90/80 = 1.125 */
}

hr {
    border-color: rgb(83, 88, 93);
    border-style: solid;
}

.card {
    background: rgb(71, 75, 77);
    width: 750px;
    height: 750px;
    border-radius: 60px; 
    position: relative; /* Ensure the parent element is a positioned element */
    margin-bottom: 70px;
    background-size: cover;
}

.inner {
    position: absolute;
    bottom: 0;
    padding: 70px;
}

.inner h2 {
    font-weight: lighter;
    margin-bottom: 30px;
    font-size: 22px;
}

.inner h1 {
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 30px;
}

.inner p {
    font-size: 27px;
    margin-bottom: 30px;
}

.inner a {
    background: white;
    color: black;
    text-decoration: none;
    padding: 31px;
    width: 140px;
    height: 24px;
    display: flex; 
    align-content: center;
    justify-content: center;
    border-radius: 20px;
    transition: 0.3s ease;
}

.inner a:hover {
    width: 150px;
    height: 30px;
}

.card#card0 {
    background-image: url(imgs/ezgif-3-221553dbbb.gif);
}

.card#card1 {
    background-image: url(imgs/Screenshot\ 2023-12-01\ 145215.png);
}

.card#card2 {
    background-image: url(imgs/ezgif-3-5f58f2cd60.gif);
}

.card#card3 {
    background-image: url(imgs/ezgif-3-2c96ca295b.gif);
}
